html {
    box-sizing: border-box;
    height: 100%;
}

* {
    outline: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    background-color: $mainBgColor;
    font-size: $mainFontSize;
    font-family: $mainFontBook;
}