@font-face {
    font-family: 'CircularStdLight';
    font-weight: 300;
    src:  local('CircularStdLight'), local('CircularStdLight');
    src:  url('~@/assets/fonts/CircularStd/Light/CircularStd-Light.eot');
    src:  url('~@/assets/fonts/CircularStd/Light/CircularStd-Light.eot?#iefix') format('embedded-opentype'),
    url('~@/assets/fonts/CircularStd/Light/CircularStd-Light.woff') format('woff'),
    url('~@/assets/fonts/CircularStd/Light/CircularStd-Light.ttf') format('truetype'),
    url('~@/assets/fonts/CircularStd/Light/CircularStd-Light.svg#CircularStd-Light') format('svg');
}

@font-face {
    font-family: 'CircularStdBook';
    font-weight: 400;
    src:  local('CircularStdBook'), local('CircularStdBook');
    src:  url('~@/assets/fonts/CircularStd/Book/CircularStd-Book.eot');
    src:  url('~@/assets/fonts/CircularStd/Book/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('~@/assets/fonts/CircularStd/Book/CircularStd-Book.woff') format('woff'),
    url('~@/assets/fonts/CircularStd/Book/CircularStd-Book.ttf') format('truetype'),
    url('~@/assets/fonts/CircularStd/Book/CircularStd-Book.svg#CircularStd-Book') format('svg');
}

@font-face {
    font-family: 'CircularStdMedium';
    font-weight: 500;
    src:  local('CircularStdMedium'), local('CircularStdMedium');
    src:  url('~@/assets/fonts/CircularStd/Medium/CircularStd-Medium.eot');
    src:  url('~@/assets/fonts/CircularStd/Medium/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    url('~@/assets/fonts/CircularStd/Medium/CircularStd-Medium.woff') format('woff'),
    url('~@/assets/fonts/CircularStd/Medium/CircularStd-Medium.ttf') format('truetype'),
    url('~@/assets/fonts/CircularStd/Medium/CircularStd-Medium.svg#CircularStd-Regular') format('svg');
}

@font-face {
    font-family: 'CircularStdBold';
    font-weight: 700;
    src:  local('CircularStdBold'), local('CircularStdBold');
    src:  url('~@/assets/fonts/CircularStd/Bold/CircularStd-Bold.eot');
    src:  url('~@/assets/fonts/CircularStd/Bold/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('~@/assets/fonts/CircularStd/Bold/CircularStd-Bold.woff') format('woff'),
    url('~@/assets/fonts/CircularStd/Bold/CircularStd-Bold.ttf') format('truetype'),
    url('~@/assets/fonts/CircularStd/Bold/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
}

@font-face {
    font-family: 'CircularStdBlack';
    font-weight: 900;
    src:  local('CircularStdBlack'), local('CircularStdBlack');
    src:  url('~@/assets/fonts/CircularStd/Black/CircularStd-Black.eot');
    src:  url('~@/assets/fonts/CircularStd/Black/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('~@/assets/fonts/CircularStd/Black/CircularStd-Black.woff') format('woff'),
    url('~@/assets/fonts/CircularStd/Black/CircularStd-Black.ttf') format('truetype'),
    url('~@/assets/fonts/CircularStd/Black/CircularStd-Black.svg#CircularStd-Black') format('svg');
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Dosis&family=Inter&family=Karla&family=Lato&family=Manjari&family=Manrope&family=Montserrat&family=Muli&family=Noto+Sans&family=Open+Sans&family=Orienta&family=Overpass&family=PT+Sans&family=Poppins&family=Raleway&family=Sarabun&family=Thasadith&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Bilbo+Swash+Caps&family=Caveat&family=Covered+By+Your+Grace&family=Dancing+Script&family=Gochi+Hand&family=Great+Vibes&family=Handlee&family=Just+Another+Hand&family=Kalam&family=La+Belle+Aurore&family=Marck+Script&family=Nothing+You+Could+Do&family=Qwigley&family=Sacramento&family=Shadows+Into+Light&family=Stalemate&family=Yellowtail&display=swap');