// colors
$mainBgColor: #fff;
$appColor1: #0B2034;
$appColor2: #BAC9DB;
$appColor3: #1B3955;
$appColor4: #DFE7F0;
$appColor5: #919FAF;
$appColor6: #526172;

//font size
$mainFontSize: 16px;
$appFontSize2: 18px;
$appFontSize1: 20px;
$titleFontSize: 48px;

//container
$containerPadding: 15px;
$containerWidth: 1010px + $containerPadding * 2;